<footer class="site-footer">

  <div class="wrapper">
    <ul class="social-media-list">
      <li>
        <a href="https://github.com/schmidt">
          <span class="icon">{% include icon-github.svg %}</span>
          <span class="username">schmidt</span>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/schmidtwisser">
          <span class="icon">{% include icon-twitter.svg %}</span>
          <span class="username">schmidtwisser</span>
        </a>
      </li>

      <li>
        <a href="https://www.xing.com/profile/Gregor_Schmidt3">
          <span class="icon">{% include icon-xing.svg %}</span>
          <span class="username">Gregor Schmidt</span>
        </a>
      </li>

      <li>
        <a href="http://www.linkedin.com/in/schmidtwisser">
          <span class="icon">{% include icon-linkedin.svg %}</span>
          <span class="username">schmidtwisser</span>
        </a>
      </li>

    </ul>
  </div>
</footer>

<script type="text/javascript">
  (function () {
    var gaProperty = "UA-32509964-1",
        disableStr = 'ga-disable-' + gaProperty,
        gaq = window._gaq || [];

    var gaOptout = function () {
      if ( window[disableStr] === true) {
        alert("Google Analytics tracking has been disabled earlier.");
      }
      else {
        document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
        window[disableStr] = true;
        alert("Thank you for your understanding.\n\nGoogle Analytics is now disabled.");
      }
    }

    var gaInstall = function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = 'https://ssl.google-analytics.com/ga.js';

      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    };

    gaq.push(['_setAccount', gaProperty]);
    gaq.push(['_gat._anonymizeIp']);
    gaq.push(['_gat._forceSSL']);
    gaq.push(['_trackPageview']);

    if (document.cookie.indexOf(disableStr + '=true') > -1) {
      window[disableStr] = true;
    }
    else {
      gaInstall();
    }

    window._gaq = gaq;
    window.gaOptout = gaOptout;
  })();
</script>
