<footer class="site-footer">

  <div class="wrapper">
    <ul class="social-media-list">
      <li>
        <a href="https://github.com/schmidt">
          <span class="icon">{% include icon-github.svg %}</span>
          <span class="username">schmidt</span>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/schmidtwisser">
          <span class="icon">{% include icon-twitter.svg %}</span>
          <span class="username">schmidtwisser</span>
        </a>
      </li>

      <li>
        <a href="https://www.xing.com/profile/Gregor_Schmidt3">
          <span class="icon">{% include icon-xing.svg %}</span>
          <span class="username">Gregor Schmidt</span>
        </a>
      </li>

      <li>
        <a href="http://www.linkedin.com/in/schmidtwisser">
          <span class="icon">{% include icon-linkedin.svg %}</span>
          <span class="username">schmidtwisser</span>
        </a>
      </li>

    </ul>
  </div>
</footer>
