<div class="hireme">
  <h2>I am available for hire</h2>

  <p>
    If your interested in more of my previous work have a look at
    <a href="{{ "/portfolio/" | prepend: site.baseurl }}">the portfolio</a>.
    I have also published <a href="{{ "/rates/" | prepend: site.baseurl }}">my
    rates</a> for everybody to see. I would love to hear, how I may help you.
  </p>

  <form action="mailto:schmidt@nach-vorne.eu?subject=Let's%20talk!">
    <button type="submit" class="cta">
      Just send a mail
    </button>
  </form>
</div>
